<div class="container-fluid">
  <div class="masthead">
    <h1>NPC ÜRETECİ</h1>
  </div>

  <form (ngSubmit)="onSubmit()" #userListForm="ngForm">
    <div class="row">
      <div class="col-6">
        <label for="CRInput" class="col-3 col-form-label"><strong>CR:</strong></label>
      </div>
      <div class="col">
        <select [(ngModel)]="cr" class="form-control" name="crDropdown">
            <option *ngFor="let cr of CRList" [ngValue]="cr">{{cr.cr}}</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="CRInput" class="col-3 col-form-label"><strong>Sınıf:</strong></label>
      </div>
      <div class="col">
        <select [(ngModel)]="charClass" class="form-control" name="charClassDropdown">
            <option *ngFor="let class of classList" [ngValue]="class">{{class.className}}</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="CRInput" class="col-3 col-form-label"><strong>Irk:</strong></label>
      </div>
      <div class="col">
        <select [(ngModel)]="charRace" class="form-control" name="charRaceDropdown">
            <option *ngFor="let race of raceList" [ngValue]="race">{{race.raceName}}</option>
          </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success ">ÜRET!</button>
  </form>

  <hr />
  <div class="summary" *ngIf="submitted">
    <div class="row">
      <h4 class="col">
        {{this.CharAbilities.toString()}}
      </h4>
    </div>
  </div>


</div>